

    
  .yellow{
   
    color:yellow;
  }
  
  .route_container {
    background: linear-gradient(90deg, rgba(245, 197, 24, 0.26) 22.24%, rgba(251, 247, 252, 0) 100%);
   
      .routes{
        margin-left: 10vw;
      }
  }
